# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

*.sass-cache
*.sublime-*

css
dist
bower_components
node_modules
test/coverage
test/dist
