<!doctype html>
<!--[if lt IE 8]>      <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
	<head>
		<meta charset="utf-8">

		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<!-- Place favicon.ico in the root directory -->

		<link rel="stylesheet" href="@@maincss">
		<script src="@@modernizr"></script>
	</head>
	<body>
		<!--[if lte IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong>
				browser. Please
				<a href="http://browsehappy.com/">upgrade your browser</a> to
				improve your experience.</p>
		<![endif]-->

		<!-- Add your site or application content here -->
		<header>
			<h1 role="banner">INIT</h1>

			<nav role="navigation">
				<ul>
					<li><a href=""></a></li>
				</ul>
			</nav>
		</header>

		<main role="main">
